@model List<MovieViewModel>

@{
    if (Model.Count == 0)
    {
        <div>
            <p style="color: #555;">
                Ваш список любимых фильмов пуст.<br />
                @Html.ActionLink("Добавить фильм",
                    "Add",
                    "Movies",
                    null,
                    new { style = "color: #3498db; text-decoration: none; "})
            </p>
        </div>
    }
    else
    {
        <div>
            <p style="color: #333;">Любимые фильмы:<br /></P>
            <ul>
                @foreach (var movie in Model)
                {
                    <li style ="margin-bottom: 10px; color: #444;">
                        @movie.Title
                        @Html.ActionLink("Удалить из списка",
                            "Remove",
                            "Movies",
                            new { id = @movie.Id },
                            new { style = "color: #e74c3c; margin-left: 10px; text-decoration: none;" })<br />
                    </li>
                }
            </ul>
            @Html.ActionLink("Добавить фильм",
                "Add",
                "Movies",
                null,
                new { style = "color: #3498db; margin-left: 10px; text-decoration: none;" })<br />
        </div>
    }
}