@using GamerShop.Models.PcBuild
@model GamerShop.Models.PcBuild.CreateBuildViewModel

@using (Html.BeginForm("CreateBuild", "PcBuild", FormMethod.Post))
{
    <div class="form-group">
      <label for="exampleFormControlInput1">Название сборки</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Лучшая сборка на диком западе">
    </div>
    <div class="form-group">
      <label for="ProcessorSelect">Процессор:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.ProcessorsId),Model.Processors, new{ @class = "form-control", id = "ProcessorSelect" })
    </div>
    <div class="form-group">
      <label for="MotherboardSelect">Материнская плата:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.MotherboardsId),Model.Motherboards, new{ @class = "form-control", id = "MotherboardSelect" })
    </div>
    <div class="form-group">
      <label for="GpuSelect">Видеокарта:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.GpusId),Model.Gpus, new{ @class = "form-control", id = "GpuSelect" })
    </div>
    <div class="form-group">
      <label for="RamSelect">Оперативная память:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.RamsId),Model.Rams, new{ @class = "form-control", id = "RamSelect" })
    </div>
    <div class="form-group">
      <label for="HddSelect">Жесткий диск:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.HddsId),Model.Hdds, new{ @class = "form-control", id = "HddSelect" })
    </div>
    <div class="form-group">
      <label for="SsdSelect">Ssd:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.SsdsId),Model.Ssds, new{ @class = "form-control", id = "SsdSelect" })
    </div>
    <div class="form-group">
      <label for="CoolerSelect">Система охлаждения:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.CoolersId),Model.Coolers, new{ @class = "form-control", id = "CoolerSelect" })
    </div>
    <div class="form-group">
      <label for="PsuSelect">Блок питания:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.PsusId),Model.Psus, new{ @class = "form-control", id = "PsuSelect" })
    </div>
    <div class="form-group">
      <label for="CaseSelect">Корпус:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.CasesId),Model.Cases, new{ @class = "form-control", id = "CaseSelect" })
    </div>
    <div class="form-group">
      <label for="Description">Описание</label>
      <textarea class="form-control" id="Description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Создать сборку</button>

}
