@using GamerShop.Models.PcBuild
@model GamerShop.Models.PcBuild.CreateBuildViewModel

@using (Html.BeginForm("CreateBuild", "PcBuild", FormMethod.Post))
{
    <div class="form-group">
      <label for="exampleFormControlInput1">Название сборки</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Лучшая сборка на диком западе">
    </div>
    <div class="form-group">
      <label for="ProcessorSelect">Процессор:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.ProcessorsId),Model.Processors, new{ @class = "form-control", id = "ProcessorSelect" })
    </div>
    <div class="form-group">
      <label for="MotherboardSelect">Материнская плата:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.MotherboardsId),Model.Motherboards, new{ @class = "form-control", id = "MotherboardSelect" })
    </div>
    <div class="form-group">
      <label for="GpuSelect">Видеокарта:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.GpuId),Model.Gpus, new{ @class = "form-control col-md-10", id = "GpuSelect" })
      <label for="GpuCountSelect">Количество:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.GpuCount),Model.ComponentCount, new{ @class = "form-control col-md-2", id = "GpuCountSelect" })
    </div>
    <div class="form-group">
      <label for="RamSelect">Оперативная память:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.RamId),Model.Rams, new{ @class = "form-control col-md-10", id = "RamSelect" })
      <label for="RamCountSelect">Количество:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.RamCount),Model.ComponentCount, new{ @class = "form-control col-md-2", id = "RamCountSelect" })
    </div>
    <div class="form-group">
      <label for="HddSelect">Жесткий диск:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.HddId),Model.Hdds, new{ @class = "form-control col-md-10", id = "HddSelect" })
      <label for="HddCountSelect">Количество:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.HddCount),Model.ComponentCount, new{ @class = "form-control col-md-2", id = "HddCountSelect" })
    </div>
    <div class="form-group">
      <label for="SsdSelect">Ssd:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.SsdId),Model.Ssds, new{ @class = "form-control", id = "SsdSelect" })
      <label for="SsdCountSelect">Количество:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.SsdCount),Model.ComponentCount, new{ @class = "form-control", id = "SsdCountSelect" })
    </div>
    <div class="form-group">
      <label for="CoolerSelect">Система охлаждения:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.CoolerId),Model.Coolers, new{ @class = "form-control", id = "CoolerSelect" })
    </div>
    <div class="form-group">
      <label for="PsuSelect">Блок питания:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.PsuId),Model.Psus, new{ @class = "form-control", id = "PsuSelect" })
    </div>
    <div class="form-group">
      <label for="CaseSelect">Корпус:</label>
      @Html.DropDownList(nameof(CreateBuildAnswerViewModel.CaseId),Model.Cases, new{ @class = "form-control", id = "CaseSelect" })
    </div>
    <div class="form-group">
      <label for="Description">Описание</label>
      <textarea class="form-control" id="Description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Создать сборку</button>

}
