@model IEnumerable<GamerShop.Models.PcBuild.BuildsIndexViewModel>

<div>
    <h2>Все сборки</h2>
</div>

@{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var build in Model)
        {
            <div class="col">
                <div class="card h-100 border-dark mb-3">
                    <img src="GamerShop/wwwroot/img/PCBuild/qq.jpg" class="card-img-top" alt="ALLO GDE KARTINKA">
                    <div class="card-body text-dark">
                        <h5 class="card-title">@build.BuildName</h5>
                        <p class="card-text">@build.UserName</p>
                        <p class="card-text">@build.Processor</p>
                        @foreach (var gpuName in build.GPU)
                        {
                            <p class="card-text">@gpuName</p>
                        }
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@build.Price$</small>
                        <small class="text-muted">@build.Rating</small>
                    </div>
                </div>
            </div>
        }
    </div>
}