@model List<PCComponentViewModel>

<div>
    <h2>List of PC components</h2>
</div>

@{
    if (Model.Count == 0)
    {
        <div>
            <h3>No components have been added yet.</h3>
        </div>
    }
    else
    {
        <div>
            @foreach (var component in Model)
            {
                <div>
                    @component.Category
                    @component.Title
                    @component.Price
                    @Html.ActionLink("Delete",
                        "Remove",
                        "PCBuild",
                        new {id = component.Id})
                </div>
            }
        </div>
    }
    @Html.ActionLink("Add component", "Add", "PCBuild")
}
