@model GamerShop.Models.PcBuild.PaginatorBuildsViewModel

<div>
    <h2>Все сборки</h2>
</div>

@{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var build in Model.Builds)
        {
            <div class="col">
                <div class="card h-100 border-dark mb-3">
                    <img src="GamerShop/wwwroot/img/PCBuild/qq.jpg" class="card-img-top" alt="ALLO GDE KARTINKA">
                    <div class="card-body text-dark">
                        <h5 class="card-title">@build.BuildName</h5>
                        <p class="card-text">@build.UserName</p>
                        <p class="card-text">@build.Processor</p>
                        <p class="card-text">@build.GPU</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@build.Price$</small>
                        <small class="text-muted">@build.Rating</small>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @foreach (var pageNumber in Model.AvailablePages)
            {
                <li class="page-item"><a class="page-link @(Model.Page == pageNumber ? "active" : "")" href="PcBuild/Index?page=@pageNumber">@pageNumber</a></li> 
            }
        </ul>
    </nav> 
}