@using GamerShop.Models.Books;
@model PaginatorViewModel<BookViewModel>
<body class="book-list-container">
<div class="book-list">
    @foreach (var book in Model.Items)
    {
        <div class="book-card" onclick="location.href='/Books/ShowBook/?id=@book.Id'">
            <img class="book-cover"
                src="/img/Books/book_red.svg"/>
            <div class="book-basic-information">
                <h3>@book.Name</h3>
                    <ul class="separator">
                    @foreach (var author in book.Authors)
                    {
                        <li>@author.Text</li>
                    }
                 </ul>
                 <a>@book.YearOfIssue</a>
            </div>
        </div>

    }
</div>
<ul class="pagination">
    @foreach (var pageNumber in Model.AvailablePages)
    {
        <li class="page-item"><a class="page-link @(Model.Page == pageNumber ? "active" : "")" href="Books?page=@pageNumber">@pageNumber</a></li>
    }
</ul>
</body>
@section Style{
    <link rel="stylesheet" href="~/css/Books/book.css" />
}
@section Scripts{
    <script src="~/js/Books/book.js"></script>
}