@using GamerShop.Models.Books;
@model PaginatorViewModel<BookViewModel>

<div>
    Список добавленых книг.
    @foreach (var book in Model.Items)
    {
        <div>
            @book.Author
            @book.Name
            @book.FilmAdaptations
            <a asp-action="Delete" asp-controller="Books" asp-route-id="@book.Id">Удалить</a>
        </div>
    }
</div>
<ul class="pagination">
    @foreach (var pageNumber in Model.AvailablePages)
    {
        <li class="page-item"><a class="page-link @(Model.Page == pageNumber ? "active" : "")" href="Books?page=@pageNumber">@pageNumber</a></li>
    }
</ul>