@model GamerShop.Models.Movies.ShowMovieCollectionViewModel

<div class="containerPage">
    <div class="section">
        <h1 class="section-title">@Model.Title</h1>
        <div class="section-subtitle">
            <i>Создана: @Model.DateCreated.ToShortDateString()</i><br>
            <i>Автор: @Model.AuthorName</i>
        </div>
    </div>

    <div class="section">
        <p class="section-subtitle">
            <span>Рейтинг:</span>
            <b class="rating @(Model.Rating > 7 ? "good" : "bad")">@Model.Rating</b>
        </p>
    </div>

    <div class="section">
        <h2 class="section-title">Описание:</h2>
        <p class="description">
            @if (Model.Description != null)
            {
                @Model.Description
            }
            else
            {
                <span class="italic-text">Описание отсутствует</span>
            }
        </p>
    </div>

    <div class="section">
        <h2 class="section-title">Фильмы в подборке:</h2>
        <ul class="movie-list">
            @foreach (var movie in @Model.Movies)
            {
                <li class="movie-item">
                    @Html.ActionLink(movie.Title, "Show", "Movie", new { id = movie.Id }, new { @class = "movie-link" })
                </li>
            }
        </ul>
    </div>
</div>

@section Style{
        <link rel="stylesheet" href="~/css/movieCollection-display-styles.css">
}