@model List<GamerShop.Models.Recipe.ShowRecipeViewModel>

<div>Available recipes:</div>
<div class="recipe-list">
	@for (int i = 0; i < Model.Count; i++)
	{
		var recipe = Model[i];
		<div class="recipe-card">
			<h2 class="recipe-title">@recipe.Title</h2>
			<p>@recipe.Description</p>
			<p>Instructions:</p>
			<p>@recipe.Instructions</p>
			<p>Preparation time: @recipe.PreparationTime minutes</p>
			<p>Cooking time: @recipe.CookingTime minutes</p>
			<p>Servings amount: @recipe.Servings</p>
			<p>Difficulty level: @recipe.DifficultyLevel</p>
			<p>Cuisine type: @recipe.Cuisine</p>
			<a href="~/Recipe/Remove/?id=@recipe.Id">X</a>
            
			@if (!recipe.IsFavorite)
			{
				<a href="~/Recipe/AddFavorite/?recipeId=@recipe.Id">Add to favorites</a>
			}
			<div>User reviews:</div>
			<div class="user-reviews">
				<div class="review-scrollbar">
					@foreach (var review in recipe.Reviews)
					{
						<div class="review">
							<h5>@review.Username</h5>
							<p>@review.Text</p>
							<span class="rating">Rating: @review.Rating</span>
							<span class="date">@review.Date</span>
						</div>
					}
				</div>
			</div>

			@using (Html.BeginForm("SubmitReview", "Recipe", FormMethod.Post, new { @class = "review-form" }))
			{
				@Html.Hidden("RecipeId", Model[i].Id)
				<div>
					@Html.Label( "Rating:")
					@Html.TextBox("Rating", Model[i].NewReview.Rating)
					@Html.ValidationMessage("Rating", Model[i].NewReview.Rating)
				</div>
				<div>
					@Html.Label("Your review:")
					@Html.TextArea("Text", Model[i].NewReview.Text)
					@* TODO: Fix validation messages *@
					@Html.ValidationMessage("Text", Model[i].NewReview.Text)
				</div>
				<div>
					<button type="submit">Submit Review</button>
				</div>
			}
		</div>
	}
</div>

@section Style{
	<link rel="stylesheet" href="~/css/recipe.css" />
}
