@using GamerShop.Models.RockHall;
@model List<InfoMemberViewModel>

<div>
    <h1><u>Members of the Rock and Roll Hall of Fame:</u></h1><br />
    @foreach (var rockMember in Model)
    {
        <div>
            <h2>
                @rockMember.FullName
            </h2>
        </div>
        <div>
            Genre: @rockMember.Genre, Entry year: @rockMember.EntryYear, Year Of Birth: @rockMember.YearOfBirth
            <a asp-action="Delete" asp-controller="RockHall" asp-route-id="@rockMember.Id">Удалить</a>
        </div>
        <div>
            @rockMember.FullName (Current Band : @rockMember.CurrentBand)
        </div>
        <div>
            Создал: @rockMember.CreatorName
        </div>
    }
</div>