@using GamerShop.Models.RockHall;
@model PaginatorRockMemberViewModel

<div>
    <h1><u>Members of the Rock and Roll Hall of Fame:</u></h1><br />
    @foreach (var rockMember in Model.RockMembers)
    {
        <div>
            <h2>
                @rockMember.FullName
            </h2>
        </div>
        <div>
            Genre: @rockMember.Genre, Entry year: @rockMember.EntryYear, Year Of Birth: @rockMember.YearOfBirth
            <a asp-action="Delete" asp-controller="RockHall" asp-route-id="@rockMember.Id">Удалить</a>
        </div>
        <div>
            @rockMember.FullName (Current Band : @rockMember.CurrentBand)
        </div>
        <div>
            Создал: @rockMember.CreatorName
        </div>
    }
</div>

<div>
    <div class="pages">
        @foreach (var pageNumber in Model.AvailablePages)
        {
            <a href="/RockHall/Index?page=@pageNumber" class="page-button @(Model.Page == pageNumber ? "active" : "")">@pageNumber</a>
        }
    </div>
</div>


@section Style{
    <link rel="stylesheet" href="~/css/rockhall.css" />
}

@section AdditionalInfoInFooter{
    <span class="info-footer"> All Rock Members: @Model.Count PerPage: @Model.PerPage</span>
}