@using GamerShop.Models.RockHall;
@model PaginatorViewModel<InfoMemberViewModel>

<div class="main-container">
    <h1><u>Members of the Rock and Roll Hall of Fame:</u></h1><br />
    @foreach (var rockMember in Model.Items)
    {
        <div >
            <span class="flex-container">
                <div class="title">
                    <h2>
                        @rockMember.FullName
                    </h2>
                </div>
                <div class="description">
                    Genre: @rockMember.Genre, Entry year: @rockMember.EntryYear, Year Of Birth: @rockMember.YearOfBirth
                    <span class="delete-link">
                        <a asp-action="Delete" asp-controller="RockHall" asp-route-id="@rockMember.Id">🗑</a>
                    </span>
                    <div>
                        @rockMember.FullName (Current Band : @rockMember.CurrentBandName)
                    </div>
                    <div>
                        Создал: @rockMember.CreatorName
                    </div>
                </div>
                
            </span>
            
            
        </div>
    }
</div>

<div>
    <div class="pages">
        @foreach (var pageNumber in Model.AvailablePages)
        {
            <a href="/RockHall/Index?page=@pageNumber" class="page-button @(Model.Page == pageNumber ? "active" : "")">@pageNumber</a>
        }
    </div>
</div>


@section Style{
    <link rel="stylesheet" href="~/css/rockhall.css" />
}

@section AdditionalInfoInFooter{
    <span class="info-footer"> All Rock Members: @Model.Count PerPage: @Model.PerPage</span>
}

@section Scripts{
    <script src="~/js/RockHall/clickItem.js"></script>
}