@using DALInterfaces.Models;
@model List<InfoMemberViewModel>

<div>
    <h1><u>Members of the Rock and Roll Hall of Fame:</u></h1><br />
    @foreach (var person in Model)
    {
        <div>
            <h2>
                @person.FullName
            </h2>
           Genre: @person.Genre, Entry year: @person.EntryYear, Year Of Birth: @person.YearOfBirth <br />
            <a asp-action="Delete" asp-controller="RockHall" asp-route-id="@person.Id">Удалить</a>
        </div>
    }
</div>