@using GamerShop.Models.BaldursGate
@model GamerShop.Models.BaldursGate.CreateHeroViewModel
@* <img src="/img/BG/@(Model.Id).jpg"/> *@

@using (Html.BeginForm("CharacterCreation", "BaldursGate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="exampleFormControlInput1">Имя персонажа</label> 
    @Html.TextBox(nameof(CreateHeroAnswerViewModel.Name), "",new {@class = "form-control", type="text", id="exampleFormControlInput1", placeholder="Дикий перец"})
    </div>
    <div class="form-group">
        <label for="ClassSelect">Класс:</label>
        @Html.DropDownList(nameof(CreateHeroAnswerViewModel.ClassId),Model.Class, new{ @class = "form-control", id = "ClassSelect" })
    </div>
    <div class="form-group">
        <label for="RaceSelect">Раса:</label>
        @Html.DropDownList(nameof(CreateHeroAnswerViewModel.RaceId),Model.Race, new{ @class = "form-control", id = "RaceSelect" })
    </div>
    <div class="form-group">
        <label for="SubraceSelect">Подрасса:</label>
        @Html.DropDownList(nameof(CreateHeroAnswerViewModel.SubraceId),Model.Subrace, new{ @class = "form-control", id = "SubraceSelect" })
    </div>
    <div class="form-group">
        <label for="OriginSelect">Предистория:</label>
        @Html.DropDownList(nameof(CreateHeroAnswerViewModel.OriginId),Model.Origin, new{ @class = "form-control", id = "OriginSelect" })
    </div>
    <div class="form-group">
        <label for="BoneInfo">Любимое число</label>
        @Html.TextBox(nameof(CreateHeroAnswerViewModel.Bone), "",new {@class = "form-control", type="text", id="BoneInfo"})
    </div>
@*      @Html.HiddenFor(x => x.Id)

    <input name="Avatar" type="file"/> *@


    <button type="submit" class="btn btn-primary">Создать Персонажа</button>
}