@using GamerShop.Services
@inject IAuthService authService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamerShop</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script src="/js/notification.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GamerShop.styles.css" asp-append-version="true" />

    @RenderSection("Style", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GamerShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Index">Home</a>
                        </li>
                      
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/User/Profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Auth/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Auth/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Auth/Register">Register</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Recipe/ShowAll">Recipes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">BaldursGate</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item nav-link text-dark" href="/BaldursGate/CharacterCreation">Создать персонажа</a></li>
                                <li><a class="dropdown-item nav-link text-dark" href="/BaldursGate/CharacterList">Список персонажей</a></li>
                                <li><a class="dropdown-item nav-link text-dark" href="/BaldursGate/Report">Отчёты</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Books/Books">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Books/Book">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/RockHall/Menu">RockHall</a>
                        </li>
                        <partial name="_MovieMenuPartial" />
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/FootballClubs/ClubsList">Football</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">PCBuild</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item nav-link text-dark" href="/PCBuild/Index">Все сборки</a></li>
                                <li><a class="dropdown-item nav-link text-dark" href="/PCBuild/CreateBuild">Создать сборку</a></li>
                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <img class="avatar" src="@authService.GetAvatar()" />
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - GamerShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @RenderSection("AdditionalInfoInFooter", false)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
