@using GamerShop.Models.Football;
@using GamerShop.Services;
@model PaginatorViewModel<FootballClubViewModel<ShortFootballLeagueViewModel>>

@{
    Layout = LayoutService.GetLayoutName(@ViewContext)?.LayoutName ?? Layout;
}
<h2> Список клубов:</h2>
<div class="shows">

    @foreach (var item in Model.Items)
    {
        <div>
            <p class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-html="true" data-bs-title="Доп.инфо"
               data-bs-content="<p> Создал: @item.CreatorName <a class='del' href='/FootballClubs/Remove?id=@item.Id'>X</a> </p>">
                @item.Name
            </p>
        </div>

    }
</div>

<nav aria-label="paginator">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="@(Model.Page == 1 ?"#":$"/FootballClubs/ClubsList?page={Model.Page-1}")"> &laquo; </a>
         </li>
        @foreach (var pageNumber in Model.AvailablePages)
        {
            <li class="page-item @(Model.Page == pageNumber ? " active" : "")">
                <a class="page-link" href="/FootballClubs/ClubsList?page=@pageNumber">@pageNumber</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" href="@(Model.Page == Model.AvailablePages.Count() ? "#" : $"/FootballClubs/ClubsList?page={Model.Page+1}")"> &raquo;</a>
        </li>
    </ul>
</nav>

<div class="pages">
</div>

@section Style{
    <link rel="stylesheet" href="~/css/Football/ClubList.css" />
    <link rel="stylesheet" href="~/css/Football/GeneralFootball.css" />

}
@section Scripts{
    <script src="~/js/Football/FootballNav.js"></script>
}