@using GamerShop.Models.Football;
@using GamerShop.Services;
@model PaginatorViewModel<FootballClubViewModel<ShortFootballLeagueViewModel>>

@{
    Layout = LayoutService.GetLayoutName(@ViewContext)?.LayoutName ?? Layout;
}
<button type="button" id="filter" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
     Установить фильтр
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("ClubsList", "FootballClubs", FormMethod.Post, new { id = "filterForm" }))
            {
                <div class="modal-body">

                    @for (int i = 0; i < Model.Filters.Count; i++)
                    {
                        <div class="form-check">
                            @Html.LabelFor(model => model.Filters[@i].NameForUser,Model.Filters[@i].NameForUser)

                            @Html.TextBoxFor(model => model.Filters[@i].CurrentValueInt, "ТК", new { type = "number"})


                            @Html.HiddenFor(model => model.Filters[@i].PropName,Model.Filters[@i].PropName)

                            <input class="form-check-input" type="checkbox" value="">
                            
                            <label class="form-check-label" for="flexCheckChecked">
                               
                            </label>

                        </div>
                    }
                    @Html.HiddenFor(model => model.Page,new { id = "PageNumber" })
                </div>
                <div>
                    <div>
                        <input type="submit" value="Войти" />
                    </div>
                </div>
            }
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" id="accept" class="btn btn-primary"> <a class="page-link" href="/FootballClubs/ClubsList?page=1&currentFilters=@Model.Filters">Принять</a> </button>
            </div>
        </div>
    </div>
</div>


<h2> Список клубов:</h2>
 
<div class="shows">

    @foreach (var item in Model.Items)
    {
        <div>
            <p class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-html="true" data-bs-title="Доп.инфо"
               data-bs-content="<p> Создал: @item.CreatorName <a class='del' href='/FootballClubs/Remove?id=@item.Id'>X</a> </p>">
                @item.Name
            </p>
        </div>

    }
</div>

<nav aria-label="paginator">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#"> &laquo;<span hidden> @(Model.Page == 1 ? "1" : @Model.Page - 1)</span> </a>
         </li>
        @foreach (var pageNumber in Model.AvailablePages)
        {
            <li class="page-item @(Model.Page == pageNumber ? " active" : "")">
                <a class="page-link" href="#"> @pageNumber </a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" href="#"> &raquo;  <span hidden> @(Model.Page == Model.AvailablePages.Count() ? Model.Page : Model.Page + 1)</span> </a>
        </li>
    </ul>
</nav>

<div class="pages">
</div>

@section Style{
    <link rel="stylesheet" href="~/css/Football/ClubList.css" />
    <link rel="stylesheet" href="~/css/Football/GeneralFootball.css" />

}
@section Scripts{
    <script src="~/js/Football/ClubList.js"></script>
    <script src="~/js/Football/Nav.js"></script>
}